
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
/* New NavBar */
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #333
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: grey;
} 
/* New NavBar */

/* Body  */
  body {
    font-family: "Josefin Sans", sans-serif;
  }
    .picture{
      padding-left: 20;
      padding-top: 50;
    }
    .developer-name{
      padding-left:44px;
      padding-top: 25px;
    }

    
  .full-stack{
    margin: auto;
    width: 60%;
    padding-left:35px;
    border: 1px
  }
  h1{
    font-size:60
  }
    

.content3 {
    max-width: 550px;
    margin: auto;
    padding: 10px;
    /* padding-top: ; */
    font-family: 'Ubuntu Mono', monospace;

    animation-duration: 0.7s;
    animation-name: animate-fade;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;

}

p {
  line-height:32px;
  font-size:20px;
  color: black;
  background: #E9EEF5;
  margin:10px;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  border: 3px solid #cad3de;
  
}



body {
    background-color: #EEF2F7;
}
/* Body  */


  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {


    /* New NavBar */
    
    .nav-menu {
      position: fixed;
      background-color: #d5d7da;
      color: #1F2937;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


}
    /* New NavBar */ 





@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}